{block content}
<h1>Front page</h1>

{foreach $festivals as $festival}
    <div class="festival">
        <h2>{$festival->name}</h2>
        <p>{$festival->description}</p>
        <img src="{$basePath}/{$festival->image}" alt="{$festival->name}">
        <p class="price">Cena: {$festival->price} Kč</p>
    </div>
{/foreach}

{/block}