{block content}
<div class="success-container">
    <h1 class="success-title">Váš nákup byl úspěšně zpracován!</h1>

    <p class="success-message">
        Děkujeme za vaši objednávku. Na váš e-mail jsme odeslali pokyny k platbě. Po přijetí platby obdržíte svou vstupenku.
    </p>

    <a href="{link Home:default}" class="back-link">Zpět na úvodní stránku</a>
</div>
{/block}