<p>Dobrý den, {$firstname} {$lastname},</p>

<p>
    s potěšením potvrzujeme, že Vaše objednávka č. <strong>{$id}</strong> na festival
    <strong>"{$festivalName}"</strong> byla úspěšně zaplacena.
</p>

<p>
    Děkujeme, že jste si vybrali naši službu. Věříme, že si festival naplno užijete a odneste si skvělé zážitky.
</p>

<p>S přáním hezkého dne,<br>
Tým <strong>FestZone</strong></p>
