Dobrý den, {$firstname} {$lastname},

Vaše objednavka číslo {$id}, na festival "{$festivalName}" byla úspěšně zaplacena.



Děkujeme, že jste si vybrali naši službu. Těšíme se na Vaši účast!

S pozdravem,  
Tým FestZone