<p>Dobrý den, {$firstname} {$lastname},</p>

<p>Vaše objednavka číslo {$id}, na festival "{$festivalName}" byla úspěšně zaplacena.</p>

<p>Děkujeme, že jste si vybrali naši službu. Těšíme se na Vaši účast!</p>

<p>S pozdravem,</p>
Tým FestZone