{* Stránka přihlášení *}

{block content}
<div class="signin-container">
    <h1 class="signin-title" n:block=title>Přihlášení</h1>

    {include bootstrap-form signInForm}

    <p class="text-center">
        <a n:href="up" class="register-link">Ještě nemáte účet? Zaregistrujte se.</a>
    </p>
</div>
{/block}