{* Stránka odhlášení *}

{block content}
<div class="signout-container">
    <h1 class="signout-title" n:block=title>Byli jste úspěšně odhlášeni</h1>

    <p class="signout-message">
        <a n:href="in" class="signin-link">Přihlásit se k jinému účtu</a>
    </p>
</div>
{/block}