{* Stránka registrace *}

{block content}
<div class="signup-container">
    <h1 class="signup-title" n:block=title>Registrace</h1>

    {include bootstrap-form signUpForm}

    <p class="text-center">
        <a n:href="in" class="login-link">Už máte účet? Přihlaste se.</a>
    </p>
</div>
{/block}