# Service registrations. See https://doc.nette.org/dependency-injection/services
session:
    autoStart: smart
services:
	- App\Core\RouterFactory::createRouter
	- App\MailSender\MailSender
	- App\MailSender\PurchaseMailSender


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
