{block content}
<h1>{$band->name}</h1>
<p>{$band->description}</p>

<h2>Hraje na:</h2>
<ul>
    {foreach $performances as $performance}
        <li>{$performance['stage']} na festivalu 
            <a href="{link 'Detail:detail', $performance['festival_id']}">{$performance['festival_name']}</a> v {$performance['time']}</li>
    {/foreach}
</ul>
{/block}