.main-container {
    padding-left: 20px; /* Přidání paddingu zleva */
    padding-right: 20px; /* Přidání paddingu zprava */
    margin-left: auto; /* Vycentrování obsahu */
    margin-right: auto; /* Vycentrování obsahu */
    max-width: 1200px; /* Maximální šířka obsahu */
}
body {
    margin: 0; /* Odstraní případné mezery kolem stránky */
    padding-top: 60px; /* Rezerva, aby obsah nezačínal pod fixním menu */
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e4e4; /* Barva pozadí menu */
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Stín pod menu */
    position: fixed; /* Fixace na vrcholu stránky */
    top: 0; /* Vzdálenost od vrcholu */
    left: 0;
    width: 100%; /* Šířka menu, aby pokrylo celou obrazovku */
    height: 3.35em; /* Nastavení výšky menu */

    z-index: 1000; /* Zajistí, že menu bude nad ostatními prvky */
}
.logo-container {
    position: absolute;
    top: 0px; /* Přizpůsobte podle potřeby */
    left: 20px;
    z-index: 10;

}
.logo-container img {
    display: block;
    height: 50px; /* Nastavte výšku loga */
}
.logo-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 150px; /* Šířka modrého tvaru */
    height: 121%;
    background-color: #0095c3;
    clip-path: polygon(0 0, 100% 0, 85% 90%, 0 90%); /* Vytvoří modrý šikmý tvar */
    z-index: -1;
}
.logo {
    width: 55px;
    height: 40px;
    object-fit: contain;
}

.top-menu ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.top-menu ul li {
    margin: 0 15px;
}

.top-menu a {
    text-decoration: none;
    color: rgb(79, 78, 78);
    font-size: 16px;
    transition: color 0.3s ease;
}

.top-menu a:hover {
    color: #0095c3;
}
.left-menu {
    position: absolute; /* Nebo absolute, pokud to kontext vyžaduje */
    left: 10%;
    font-weight: bold;


}
.top-menu .right-menu .user-info a {
    color:  #0095c3;
    font-weight: bold;
}

.top-menu .profile-image img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    border: 2px solid #47ccfc;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.top-menu .profile-image img:hover {
    transform: scale(1.1);
    border-color: #fff;
}

/* Media Queries pro responzivitu */
@media (max-width: 768px) {
    .top-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .top-menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .top-menu ul li {
        margin: 10px 0;
    }
}

h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
}.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.search-form-container {
    display: flex;
    align-items: center;
    margin-top: 1.5%;
}

.search-form-container form {
    display: flex;
    align-items: stretch;
    border: 2px solid #ccc; /* Společný obrys pro vyhledávací pole a tlačítko */
    border-radius: 4px; /* Zaoblení rohů */
    overflow: hidden; /* Zajišťuje, že obrys bude jednotný */
}

.search-form-container input.form-control {
    border: none; /* Odstranění vnitřního obrysu */
    padding: 0 10px;
    height: 45px; /* Výška textového pole a tlačítka */
    flex: 1; /* Roztažení textového pole na dostupný prostor */
    font-size: 16px;
}

.search-form-container button.btn-turquoise {
    border: none; /* Odstranění obrysu tlačítka */
    background-color:  #0095c3; /* Tyrkysová barva */
    color: #fff; /* Bílý text */
    padding: 0 20px;
    font-size: 16px;
    height: 45px; /* Stejná výška jako textové pole */
    cursor: pointer;
    transition: background-color 0.3s; /* Plynulý přechod při najetí myší */
}

.search-form-container button.btn-turquoise:hover {
    background-color:#0096c3c8; /* Tmavší tyrkysová při najetí myší */
}

p {
    font-size: 1em;
    color: #555;
    margin-top: 10px;
}

.price {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 15px;
}






.card {
    border: none;

    width: 20em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    gap: 0rem;
    margin-right: 0;
    padding-right: 0;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    color: #666;
    margin-bottom: 1rem;
}

.card-footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-turquoise {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #00a6ed; /* Tyrkysová barva */
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none; /* Odstraní podtržení */
}

.btn-turquoise:hover {
    background-color: #08647f; /* Tmavší tyrkysová barva při hoveru */
    color: #fff;
    text-decoration: none; /* Odstraní podtržení při hoveru */
}
.trendy-card-title a,
.card-title a {
    color: inherit; /* Nastaví barvu textu na děděnou */
    text-decoration: none; /* Odstraní podtržení */
    color: #0095c3; /* Nastaví barvu textu */
}

.trendy-card-title a:hover,
.card-title a:hover {
    color: #297d9a; /* Nastaví barvu textu při hoveru */
    text-decoration: underline; /* Přidá podtržení při hoveru */
}
.trendy-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Zajištění, že karta bude mít plnou výšku */
    margin: 0.25rem; /* Snížení marginu mezi kartami */
    padding: 0; /* Odstranění paddingu uvnitř karty */
}

.trendy-card-body {
    flex-grow: 1; /* Zajištění, že hlavní část karty zabere co nejvíce místa */
    padding: 0.25rem; /* Přidání paddingu uvnitř těla karty */
}

.trendy-card-footer {
    background-color: #fff;
    border-top: 1px solid #ddddddf5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem; /* Snížení paddingu uvnitř patičky karty */
    margin-top: auto; /* Zajištění, že footer bude na spodku karty */
}

.trendy-scrollable {
    display: flex;
    flex-wrap: nowrap; /* Zajištění, že karty budou vedle sebe */
    gap: 0.25rem; /* Snížení mezery mezi kartami */
    overflow-x: auto; /* Povolení horizontálního scrollování */
}

.trendy-card-img-top {
    width: 100%; /* Zajištění, že obrázek bude mít plnou šířku karty */
    height: 150px; /* Nastavení pevné výšky obrázku */
    object-fit: cover; /* Zajištění, že obrázek bude pokrývat celý prostor */
    margin: 0; /* Odstranění mezery mezi rámečkem karty a obrázkem */
}
.btn-primary {
    background-color: #00b5e2;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0095c3;
}

.rounded-circle {
    border: 1px solid #ddd;
}
.trendy-section {
    margin: 40px 0;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}.section-title::before {
    content: '';
    display: block;
    width: 5px; /* Šířka proužku */
    height: 30px; /* Výška proužku */
    background-color: #0095c3; /* Barva proužku */
    margin-right: 10px; /* Vzdálenost mezi textem a proužkem */
    border-radius: 2px; /* Zaoblení rohů proužku */
}
.Nakce {
    display: flex;
    align-items: center;
}
.Nakce::before{
    content: '';
    display: block;
    width: 5px; /* Šířka proužku */
    height: 30px; /* Výška proužku */
    background-color: #0095c3; /* Barva proužku */
    margin-right: 10px; /* Vzdálenost mezi textem a proužkem */
    border-radius: 2px; /* Zaoblení rohů proužku */
}
.trendy-icon {
    font-size: 20px;
    margin-left: 10px;
    color: #0095c3;
}

.trendy-scrollable {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    scrollbar-width: thin; /* Pro moderní prohlížeče */
    scrollbar-color: #ccc transparent;
}

.trendy-scrollable::-webkit-scrollbar {
    height: 10px; /* Výška scrollbaru */
}

.trendy-scrollable::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

.trendy-scrollable::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.trendy-card {
    flex: 0 0 auto;
    width: 280px;

    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}
.search-form-container .form-control {
    margin-right: 0.5rem; /* Přidání mezery mezi vyhledávacím polem a tlačítkem */
    border: 2px solid #000; /* Přidání černého obrysu okolo vyhledávacího pole */
    padding: 0.5rem; /* Přidání paddingu uvnitř vyhledávacího pole */
    height: auto; /* Zajištění, že výška bude automatická */
}

.search-form-container .form-control::placeholder {
    color: #999; /* Barva placeholder textu */
}
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.mb-3 {
    margin-bottom: 1rem;
}
.form-label {
    margin-right: 0.5rem;
}.no-wrap {
    white-space: nowrap;
}.carousel-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden; /* Přidání overflow: hidden pro skrytí přetékajícího obsahu */
}

.carousel-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: block; /* Zajištění, že obrázek bude blokový prvek */
}


.profile-image {
    position: relative;
    display: inline-block;
}

.profile-img {
    cursor: pointer;
    border-radius: 50%; /* Kulatý obrázek */
    width: 50px; /* Nastavení velikosti obrázku */
    height: 50px;
    object-fit: cover; /* Zajištění správného poměru stran */
}

.button-table {
    display: none; /* Skryje menu */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-70%); /* Zarovná menu na střed pod obrázkem */
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 150px; /* Nastaví šířku menu */
    border-radius: 8px; /* Přidá zaoblení rohů */
}

.profile-image:hover .button-table {
    display: block; /* Zobrazí menu při najetí na obrázek */
}

.button-table table {
    width: 100%;
    border-collapse: collapse; /* Odebere mezery mezi buňkami */
}

.button-table td {
    text-align: center; /* Zarovná text na střed */
}

.button-table a {
    display: block;
    padding: 10px; /* Větší mezera mezi odkazy */
    text-decoration: none;
    color: #333;
    font-size: 14px; /* Nastavení velikosti písma */
    transition: background-color 0.3s ease; /* Plynulý přechod při hoveru */
}

.button-table a:hover {
    background-color: #f0f0f0; /* Zvýraznění odkazu při hoveru */
}


