/* editFestival */
.festival-form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.festival-form-section {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.festival-image-section {
    flex-basis: 40%;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    border-radius: 8px;
}

.image-actions {
    margin-top: 10px;
}

.badge-container {
    position: absolute;
    top: 5px;
    left: 5px;
}



/* Ticket:default */
/* Obecné styly */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.page-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

.price-info {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

.form-instruction {
    font-size: 1rem;
    text-align: center;
    color: #666;
    margin-bottom: 2rem;
}

/* Styl pro formulář */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container form div {
    margin-bottom: 1.5rem;
}

.form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="tel"]:focus,
.form-container input[type="number"]:focus {
    border-color: #0095c3;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 149, 195, 0.5);
}

.form-container button[type="submit"] {
    display: inline-block;
    width: 100%;
    background-color: #0095c3;
    color: #fff;
    padding: 12px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.form-container button[type="submit"]:hover {
    background-color: #007b99;
}
 /* Ticket:confirmation */

 .success-container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Titulek úspěchu */
.success-title {
    font-size: 2.5rem;
    color: #0095c3;
    margin-bottom: 20px;
}

/* Text zprávy */
.success-message {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

/* Odkaz zpět */
.back-link {
    display: inline-block;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #0095c3;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.back-link:hover {
    background-color: #007b99;
}

/* Sign:out */

.signout-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Titulek odhlášení */
.signout-title {
    font-size: 2rem;
    color: #d9534f;
    margin-bottom: 60px;
}

/* Text zprávy */
.signout-message {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
}

/* Odkaz na přihlášení */
.signin-link {
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #0095c3;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.signin-link:hover {
    background-color: #31b0d5;
}

/* Sign:in */

/* Kontejner přihlášení */
.signin-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Titulek přihlášení */
.signin-title {
    font-size: 2rem;
    color: #0095c3;
    margin-bottom: 20px;
}

/* Odkaz na registraci */
.register-link {
    font-size: 1rem;
    color: #5bc0de;
    text-decoration: none;
    transition: color 0.3s ease;
}

.register-link:hover {
    color: #0275d8;
}

/* Tlačítko přihlášení */
.btn-block {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* Sign:up */

/* Kontejner registrace */
.signup-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Titulek registrace */
.signup-title {
    font-size: 2rem;
    color: #0095c3;
    margin-bottom: 20px;
}

/* Odkaz na přihlášení */
.login-link {
    font-size: 1rem;
    color: #0095c3;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-link:hover {
    color: #0c406d;
}

/* Tlačítko registrace */
.btn-block {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
}



/*Admin:User:detail */
.user-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    font-size: 22px;
    margin-bottom: 10px;
}

.user-info p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.profile-section {
    margin-top: 15px;
    text-align: center;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #0095c3;
}

.btn-delete {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #dc3545;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.btn-delete:hover {
    background: #c82333;
}




/*Profile:tickets */
.tickets-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.orders-table th,
.orders-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.orders-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.orders-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.orders-table tr:hover {
    background-color: #f1f1f1;
}

.status {
    font-weight: bold;
    text-align: center;
}

.status.unpaid {
    color: #e74c3c;
}

.status.paid {
    color: #2ecc71;
}

.status.canceled {
    color: #95a5a6;
}

/*Profile:default */
.user-profile-container {
    max-width: 400px;
    margin: 0 auto;
}

.user-profile-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Zarovnání obsahu doleva */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Zarovná do leva */
}

/* Profilový obrázek */
.user-profile-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Střed obrázku */
}

.image-wrapper {
    position: relative;
}

.image-wrapper img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #0095c3; /* Modrý rámeček */
}

.image-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
    flex-direction: column;
}

.image-wrapper:hover .overlay {
    opacity: 1;
}

.image-wrapper .overlay a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding-left: 7px;
}

/* Smazat tlačítko pod obrázkem */
.btn-delete {
    display: block;
    margin-top: 10px;
    color: #fff;
    background: #d9534f;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

/* Informace o uživateli pod obrázkem */
.profile-info {
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

.profile-info p {
    margin: 5px 0;
    font-size: 16px;
}

.profile-info strong {
    color: #007bff;
}

.upload-form .button-spacing {
    margin-bottom: 10px; /* Přidání mezery mezi tlačítky */
}




/*Profile:changeProfile */
.profil-foto-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.profil-foto-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Profilový obrázek */
.profil-foto-obrazek {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil-foto-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.profil-foto-wrapper img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #0095c3;

}

.profil-foto-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}

.profil-foto-wrapper:hover .profil-foto-overlay {
    opacity: 1;
}

.profil-foto-overlay a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Formulář */
.profil-foto-formular {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profil-foto-input {
    display: none;
}

.profil-foto-btn-vybrat {
    background: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

.profil-foto-btn-vybrat:hover {
    background: #0056b3;
}

.profil-foto-btn-ulozit {
    background: #28a745;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.profil-foto-btn-ulozit:hover {
    background: #218838;
}

.profil-foto-mezera {
    height: 10px;
}